.register-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5f9ee;
  min-height: 100dvh;
  max-height: 100dvh;
  width: 100%;
  overflow-y: auto;

  & .email-invalid {
    color: red;
    font-size: 0.8em;
  }

  & .password-requirements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.8em;
    color: red;

    & ul {
      margin-bottom: 0;
      padding: 0;

      & .valid {
        color: green;
      }

      & .invalid {
        color: red;
      }
    }
  }

  & h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }

  & .user-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;

    & input {
      border-radius: 20px;
      height: 40px;
      width: 250px;
      text-align: center;
      border: black;
      font-size: 1em;

      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }

  & button {
    border-radius: 20px;
    height: 40px;
    width: 100px;
    text-align: center;
    border: black;
    background-color: #656363;
    color: white;
    font-size: 1em;
  }

  & .register-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow-y: scroll;

    /* Hide the default scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background: #656363;
      border-radius: 6px;
    }

    & h3 {
      margin-top: 20px;
      margin-bottom: 0;
    }

    & h3:first-of-type {
      margin-top: 0;
      margin-bottom: 0;
    }

    & .mini-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 0.6em;
      padding-top: 6px;
      padding-bottom: 10px;
    }

    & .register-price-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      max-width: calc(100dvw - 20px);
      padding-left: 10px;
      padding-right: 10px;
      gap: 10px;

      & .applied {
        color: black;
        background-color: white;
        border: 1px solid black;
      }
    }

    & .register-allergies-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 100dvw;
      justify-items: center;
      align-items: center;
      row-gap: 5px;
      column-gap: 5px;
      margin-left: 10px;
      margin-right: 10px;

      & .register-settings-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 0.8em;
      }

      & .applied {
        color: black;
        background-color: white;
        border: 1px solid black;
      }
    }
  }

  /* Normal state styles for enabled button */
  .register-button {
    font-size: 1em;
    background-color: var(--green-color);
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
  }

  /* Styles for disabled button */
  .register-button:disabled,
  .register-button-disabled {
    font-size: 1em;
    background-color: lightgrey;
    color: darkgray;
    cursor: not-allowed;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
  }
}
