.filter-component {
  position: fixed;
  position: fixed;
  top: 100dvh;
  width: 100%;
  height: calc(100dvh - 40px - 200px);
  padding: 20px;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 1000;
  color: white;
  box-sizing: border-box;
  overflow-y: auto;
  animation: slideIn 0.5s forwards; /* Animation for sliding in */

  & h2 {
    text-align: center;
  }

  & h3 {
    margin-top: 50px;
    text-align: center;
    font-size: medium;
  }

  & .filter-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Adjust space between buttons */

    & .filter-button {
      align-items: center;
      background: #656363;
      padding: 5px 10px;
      border-radius: 15px;
      font-size: 1em;
      text-align: center;
      color: #ffffff;
      border: none;
    }

    & .applied {
      background: white;
      color: black;
    }
  }
}

.slideIn {
  animation: slideIn 0.5s forwards;
}

/* Animation for sliding out */
.slideOut {
  animation: slideOut 0.5s forwards;
}

.hidden-filter {
  display: none;
}

@keyframes slideIn {
  from {
    top: 5000px; /* Start off-screen */
  }
  to {
    top: calc(40px + 200px); /* Slide to this position */
  }
}

@keyframes slideOut {
  from {
    top: calc(40px + 200px); /* Start from the visible position */
  }
  to {
    top: 5000px; /* Slide off-screen */
  }
}
