/* Here goes the CSS for the HomeBody component */

.home-body-container {
  min-height: calc(100dvh-40px);
  & h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    padding-left: 10px;
  }

  & .edit-favourites-button {
    padding-right: 10px;
  }
}

.todays-favourite-menus-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .menu-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1; /* Ensures that the container stretches to fill the screen */
    justify-content: flex-start;
    min-width: calc(
      100vw - 20px
    ); /* Ensures that the container stretches to fill the screen */

    & .menu-component {
      padding: 15px;
      background: var(
        --greenish-color-background
      ); /* Light grey background, change as needed */
      border-radius: 25px; /* Rounded corners */
      border: 1px solid black; /* Slight black border */
      margin-top: 10px; /* Add space between buttons  */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Simple box shadow for depth */
      &:first-of-type {
        margin-top: 0;
      }

      & .menu-title-and-price {
        display: flex;
        justify-content: space-between;
        margin: 0; /* Reset margin */
        padding: 0; /* Reset padding */
      }

      & .ingredients-component {
        margin-top: 10px;
        font-size: large;
      }

      & .allergens-component {
        margin-top: 10px;
      }

      & .matched-allergens-component {
        margin-top: 10px;
        color: red;
        font-weight: bold;
        padding-bottom: 20px;
      }
    }
  }

  & .banner-no-menus-available {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Blurr the whole main component if we are in the filter menu */
.blurred {
  filter: blur(3px);
  overflow: hidden; /* This will disable scrolling */
}

.mensa-buttons-container {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  /* margin-bottom: 10px; */
  flex-direction: column;
  align-items: stretch; /* Ensures that children stretch to fill the container */
}

.mensa-buttons-container a {
  text-decoration: none; /*remove underline from link */
  color: inherit;
  display: block; /* Makes the link a block element to fill the width of the container */
}

.mensa-component {
  width: 100%;
  height: 80px;
  padding: 15px;
  background: #d9d9d9; /* Light grey background, change as needed */
  border: black;
  border-radius: 25px; /* Rounded corners */
  margin-bottom: 10px; /* Add space between buttons  */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Simple box shadow for depth */
}

.first-row {
  display: grid;
  grid-template-columns: 10fr 2fr;
}

.second-row {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
}

.mensa-title {
  font-size: 1.2em;
  text-align: left;
  font-weight: bold;
}

.open-closed-tag {
  background: #056909;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8em;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 10px;
  text-align: center;
}

& .closed {
  background: #a20a0a;
  opacity: 65%;
}

.location-tag {
  text-align: center;
  background: #656363;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8em;
  color: #ffffff;
  margin-top: 5px;
}

.mark-as-favorite-mensa {
  display: flex;
  justify-content: flex-end; /* Aligns the icon to the right */
  cursor: pointer; /* Changes the cursor to indicate it can be clicked */
}

.goTo {
  display: flex;
  justify-content: flex-end; /* Aligns the icon to the right */
  cursor: pointer; /* Changes the cursor to indicate it can be clicked */
}

/* CSS should ensure the overlay covers the entire screen and has a higher 
z-index than the main content but lower than the filter menu */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  z-index: 100; /* Adjust the z-index as needed */
}
