header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  min-height: 40px;
  padding: var(--space);
  background-color: var(--background-color-dark);
  color: var(--text-color-light);

  & #filter-button,
  #back-button,
  #settings-button {
    color: var(--background-color-light);
  }

  & #settings-button {
    padding-top: 2px;
  }

  & #app-name {
    text-align: center;
    font-size: 2em;
  }
}

@media screen and (min-width: 1024px) {
  header {
    & #settings-button {
      cursor: pointer;
    }

    & #filter-button,
    #back-button {
      cursor: pointer;
    }
  }
}
