.settings-component {
  position: fixed;
  top: 1000px; /* Start off-screen */
  width: 100%;
  height: calc(100dvh - 40px - 200px);
  padding: 20px;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 1000; /* Ensure it sits above other elements */
  color: white;
  box-sizing: border-box; /* Ensure padding is included in width */
  overflow-y: auto;
  animation: slideIn 0.5s forwards; /* Animation for sliding in */

  & h2 {
    text-align: center;
  }

  & h3 {
    margin-top: 50px;
    text-align: center;
    font-size: medium;
  }

  & .allergies-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Adjust space between buttons */
  }

  & .price-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; /* Adjust space between buttons */
  }

  & .user-login-logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    & .login-button {
      width: 100%;
      background: #656363;
      border-radius: 15px;
      font-size: 1em;
      text-align: center;
      color: #ffffff;
      border: none;
      padding: 5px 10px;
      background-color: var(--green-color);
    }

    & .logout-button {
      width: 100%;
      background: #656363;
      border-radius: 15px;
      font-size: 1em;
      text-align: center;
      color: #ffffff;
      border: none;
      padding: 5px 10px;
      background-color: var(--red-color);
    }

    & .login-info {
      margin-top: 20px;
    }

    & .logout-info {
      margin-top: 20px;
    }
  }
}

& .settings-button {
  align-items: center;
  background: #656363;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 1em;
  text-align: center;
  color: #ffffff;
  border: none;
}

& .applied {
  color: black;
  background-color: white;
  border: none;
}

& .allergy-info {
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 0.6em;
}

.slideIn {
  animation: slideIn 0.5s forwards;
}

/* Animation for sliding out */
.slideOut {
  animation: slideOut 0.5s forwards;
}

.hidden-settings {
  display: none;
}

@keyframes slideIn {
  from {
    top: 1000px; /* Start off-screen */
  }
  to {
    top: calc(40px + 200px); /* Slide to this position */
  }
}

@keyframes slideOut {
  from {
    top: calc(40px + 200px); /* Start from the visible position */
  }
  to {
    top: 1000px; /* Slide off-screen */
  }
}

@media screen and (min-width: 1024px) {
  .settings-button {
    cursor: pointer;
  }

  .login-button {
    cursor: pointer;
  }

  .logout-button {
    cursor: pointer;
  }
}
